@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700;900&family=Roboto&display=swap');

:root {
    --black: #101026;
    --offset: #363630;
    --white: #ffffff;
    --gray: #8f9ba8;
    --purple: #371BF2;
    --lightPurple: #725EF2;
    --ofPurple: #9593BF;
    --darkPurple: #2D2C59;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--black);
    background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
    color: var(--white);
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
}

nav {
    z-index: 99999;
    display: flex;
    top: 0;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(45, 44, 89, 0.6);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
    height: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

nav ul li.reactable {
    position: relative;
    padding-bottom: 0.2rem;
}

nav ul li.reactable::after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1rem;
    background-color: var(--white);
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
    transition: opacity 0.3s, transform 0.3s;
}

nav ul li.reactable:hover::after,
nav ul li.reactable:focus::after {
    transform: scale(1);
}

.expand {
    display: none;
    position: absolute;
    transform: translateX(-5px) translateY(3px);
    background-color: rgba(54, 54, 48, 0.9);
    min-width: 160px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    -moz-backdrop-filter: blur(20px);
    -o-backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.expand a {
    color: var(--white);
    font-weight: 200;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: opacity 0.3s;
}

.expand a:hover{
    opacity: 0.6;
    border-radius: 5px;
}

nav li.selected {
    color: var(--lightPurple) !important;
}

nav ul li.reactable:hover .expand {
    display: block;
}

nav .logo {
    height: 35px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: var(--white);
}

nav li+li {
    margin-left: 2rem;
}

main {
    margin-top: 60px;
    padding: 2rem;
}

footer {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--black);
    color: var(--white);
}

footer div:nth-child(2) {
    display: flex;
    align-items: center;
}

footer span {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    padding-right: 1rem;
    border-right: currentColor solid 0.1rem;
    height: 50px;
}

footer img {
    height: 50px;
}

footer a {
    text-decoration: none;
    color: currentColor;
}

footer li+li {
    margin-top: 0.2rem;
}